version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8000:8000"
    depends_on:
      - db_init
    environment:
      DATABASE_URL: "postgresql://admin:admin@db:5432/testdb"

  db:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "testdb"
    volumes:
      - db_data:/var/lib/postgresql/data

  db_init:
    build:
      context: .
      dockerfile: Dockerfile.db_init
    depends_on:
      - db
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      PGPASSWORD: "admin"
      POSTGRES_DB: "testdb"
    volumes:
      - ./init.sql:/init.sql
    command: ["psql", "-U", "admin", "-d", "testdb", "-f", "/init.sql", "-h", "db"]

volumes:
  db_data:
