name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Configure SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with: 
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Install SSH and rsync
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync openssh-client

      - name: Copy files to EC2
        run: rsync -avz -e "ssh -o StrictHostKeyChecking=no" ./ dockeruser@${{ secrets.EC2_HOST }}:/home/dockeruser/deploy

      - name: Deploy with Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no dockeruser@${{ secrets.EC2_HOST }} "
            cd /home/dockeruser/deploy &&
            docker compose up -d --build
          "
          
  slack-notification:
    needs: deploy
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Get Run details
        id: run_details
        run: |
          echo "RUN_ID=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
          echo "RUN_NUMBER=${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
          echo "REPOSITORY=${GITHUB_REPOSITORY}" >> $GITHUB_OUTPUT
      - name: Send Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COLOR: 'danger'  # Optional: Set color to red for failures
          SLACK_TITLE: 'GitHub Actions Failure!'
          SLACK_MESSAGE: |
            The CI/CD pipeline failed.  See details below:
            *Repository:* ${{ steps.run_details.outputs.REPOSITORY }}
            *Workflow Run ID:* ${{ steps.run_details.outputs.RUN_ID }}
            *Workflow Run Number:* ${{ steps.run_details.outputs.RUN_NUMBER }}
            <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ steps.run_details.outputs.RUN_ID }}|View Run>
          SLACK_USERNAME: Github Actions
          SLACK_ICON_EMOJI: ':github:'
