name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push all images
      run: |
        docker compose build
        docker compose push
      env:
        TAG: ${{ github.sha }}

    - name: Install rsync
      run: |
        sudo apt-get update
        sudo apt-get install -y rsync

    - name: Upload docker-compose.yml to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: dockeruser
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "docker-compose.yml"
        target: "/home/dockeruser/deploy"

    - name: Deploy with Docker Compose via SSH
      uses: appleboy/ssh-action@v1.0.0
      env:
        TAG: ${{ github.sha }}
      with:
        username: dockeruser
        host: ${{ secrets.EC2_HOST }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          export TAG=${{ github.sha }}
          cd /home/dockeruser/deploy
          if [ -f current_tag.txt ]; then
            cp current_tag.txt previous_tag.txt
          fi
          echo "${TAG}" > current_tag.txt

          docker compose pull
          docker compose up -d

  healthcheck:
    needs: deploy
    runs-on: ubuntu-latest
    outputs:
      rollback: ${{ steps.rollback-status.outputs.rollback_done }}
      rollback_tag: ${{ steps.rollback-status.outputs.rollback_tag }}
      current_tag: ${{ github.sha }}

    steps:
    - name: Healthcheck and rollback on failure
      uses: appleboy/ssh-action@v1.0.0
      with:
        username: dockeruser
        host: ${{ secrets.EC2_HOST }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/dockeruser/deploy

          if curl -sf http://localhost:8000/healt; then
            echo "Healthcheck passed"
            echo "rollback_done=false" > /home/dockeruser/rollback_status.txt
          else
            echo "Healthcheck failed - starting rollback"
            if [ -f previous_tag.txt ]; then
              export TAG=$(cat previous_tag.txt)
              echo "Rolling back to tag $TAG"
              
              docker compose pull
              docker compose up -d --remove-orphans
              
              echo "$TAG" > current_tag.txt
              echo "rollback_done=true" > /home/dockeruser/rollback_status.txt
              echo "rollback_tag=$TAG" >> /home/dockeruser/rollback_status.txt
            else
              echo "No previous tag available"
              echo "rollback_done=false" > /home/dockeruser/rollback_status.txt
              echo "rollback_tag=not_found" >> /home/dockeruser/rollback_status.txt
              exit 1
            fi
          fi

    - name: Download rollback status file
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" > /tmp/ec2_ssh_key && chmod 600 /tmp/ec2_ssh_key
        scp -o StrictHostKeyChecking=no -i /tmp/ec2_ssh_key dockeruser@${{ secrets.EC2_HOST }}:/home/dockeruser/rollback_status.txt .
        rm /tmp/ec2_ssh_key

    - name: Set rollback status
      id: rollback-status
      run: |
          if [ -f ./rollback_status.txt ]; then
            rollback_done=$(grep -E '^rollback_done=' ./rollback_status.txt | cut -d'=' -f2)
            rollback_tag=$(grep -E '^rollback_tag=' ./rollback_status.txt | cut -d'=' -f2)
            
            echo "Rollback done: $rollback_done"
            echo "Rollback tag: $rollback_tag"
            
            echo "rollback_done=$rollback_done" >> $GITHUB_OUTPUT
            echo "rollback_tag=$rollback_tag" >> $GITHUB_OUTPUT
          else
            echo "Rollback status file not found."
            exit 1
          fi
        
  slack-notification-health-failure:
    needs: healthcheck
    if: needs.healthcheck.outputs.rollback == 'true'
    runs-on: ubuntu-latest

    steps:
    - name: Get Run details
      id: run_details
      run: |
        echo "RUN_ID=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
        echo "RUN_NUMBER=${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
        echo "REPOSITORY=${GITHUB_REPOSITORY}" >> $GITHUB_OUTPUT

    - name: Send Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_COLOR: 'warning'
        SLACK_TITLE: 'Deployment healthcheck failure, rollback done'
        SLACK_MESSAGE: |
          The healthcheck on deployed version was not successful.  See details below:
          *Current image version:* <https://hub.docker.com/repository/docker/${{ secrets.DOCKERHUB_USERNAME }}/backend/image-management?q=tag%3A${{ needs.healthcheck.outputs.rollback_tag }}|${{ needs.healthcheck.outputs.rollback_tag }}>
          *Invalid image version:* <https://hub.docker.com/repository/docker/${{ secrets.DOCKERHUB_USERNAME }}/backend/image-management?q=tag%3A${{ needs.healthcheck.outputs.current_tag }}|${{ needs.healthcheck.outputs.current_tag }}>
          *Repository:* ${{ steps.run_details.outputs.REPOSITORY }}
          *Workflow Run ID:* ${{ steps.run_details.outputs.RUN_ID }}
          *Workflow Run Number:* ${{ steps.run_details.outputs.RUN_NUMBER }}
          <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ steps.run_details.outputs.RUN_ID }}|View Run>
        SLACK_USERNAME: Github Actions
        SLACK_ICON_EMOJI: ':github:'

  slack-notification-failure:
    needs: [deploy, healthcheck]
    if: failure()
    runs-on: ubuntu-latest

    steps:
    - name: Get Run details
      id: run_details
      run: |
        echo "RUN_ID=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
        echo "RUN_NUMBER=${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
        echo "REPOSITORY=${GITHUB_REPOSITORY}" >> $GITHUB_OUTPUT
    - name: Send Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_COLOR: 'danger'
        SLACK_TITLE: 'GitHub Actions Failure!'
        SLACK_MESSAGE: |
          The CI/CD pipeline failed.  See details below:
          *Repository:* ${{ steps.run_details.outputs.REPOSITORY }}
          *Workflow Run ID:* ${{ steps.run_details.outputs.RUN_ID }}
          *Workflow Run Number:* ${{ steps.run_details.outputs.RUN_NUMBER }}
          <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ steps.run_details.outputs.RUN_ID }}|View Run>
        SLACK_USERNAME: Github Actions
        SLACK_ICON_EMOJI: ':github:'
