name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push all images
        run: |
          docker compose build
          docker compose push

      - name: Install rsync
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync
          
      - name: Upload docker-compose.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: dockeruser
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.yml"
          target: "/home/dockeruser/deploy"

      - name: Deploy with Docker Compose via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          username: dockeruser
          host: ${{ secrets.EC2_HOST }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/dockeruser/deploy &&
            docker compose pull &&
            docker compose up -d
          
  slack-notification:
    needs: deploy
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Get Run details
        id: run_details
        run: |
          echo "RUN_ID=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
          echo "RUN_NUMBER=${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
          echo "REPOSITORY=${GITHUB_REPOSITORY}" >> $GITHUB_OUTPUT
      - name: Send Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COLOR: 'danger'  # Optional: Set color to red for failures
          SLACK_TITLE: 'GitHub Actions Failure!'
          SLACK_MESSAGE: |
            The CI/CD pipeline failed.  See details below:
            *Repository:* ${{ steps.run_details.outputs.REPOSITORY }}
            *Workflow Run ID:* ${{ steps.run_details.outputs.RUN_ID }}
            *Workflow Run Number:* ${{ steps.run_details.outputs.RUN_NUMBER }}
            <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ steps.run_details.outputs.RUN_ID }}|View Run>
          SLACK_USERNAME: Github Actions
          SLACK_ICON_EMOJI: ':github:'
